.appBg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(../mountains.jpg);
  background-size: cover;
}

.registerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.53);
  padding: 0 16px 16px 16px;
  border-radius: 16px;
  width: 300px;
}
.registerForm__item{
  width: 100%;
}
.btn-box{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.btn-box Button{
  width: 45%;
}

.underline{
  width: 61px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 9px;
  margin: 0 auto;
  margin-top: 15px;
}

.gray{
  background-color: gray !important;
}